<div class="container">
  <h1 class="right-align">Hood burger</h1>





  <div class="row">

    <div id="availableBurgerDiv " class="col s6 m6">


      <h4 class="center-align">AVAILABLE</h4>

      <ul>
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block notEaten=true}}
        {{/unless}}
        {{/each}}
      </ul>

    </div>


    <div id="eatenBurgerDiv" class="col s6 m6">

      <h4 class="center-align">EATEN</h4>

      <ul>
        {{#each burgers}}
        {{#if devoured}}
        {{> burgers/burger-block notEaten=false}}
        {{/if}}
        {{/each}}
      </ul>
    </div>

  </div>


  <div class="row">
    <h4>Add a Burger</h4>


    <form class="create-form" action="#">

      <div class="form-group">
        <label for="ca">Burger Name:</label>
        <input type="text" id="ca" name="name">
      </div>

      <div class="form-group">
        <label for="devoured">Status</label><br>
        <p>
          <label>
            <input class="with-gap" name="devoured" type="radio" value="0" checked />
            <span>Not Eaten</span>
          </label>
        </p>
        <p>
          <label>
            <input class="with-gap" name="devoured" type="radio" value='1' />
            <span>Eaten</span>
          </label>
        </p>
      </div>



      <button class="waves-effect waves-teal btn-flat" type="submit">Add Burger</button>
    </form>

  </div>
</div>