li {
  padding: 5px;
  margin: 5px;
  background: white;
}
body{
  letter-spacing: 1px;
  text-transform: lowercase;
  background-color: white;
  font-family: 'Josefin Slab', serif;
}
h1{
  font-family: 'UnifrakturMaguntia', cursive;
  color: #191526;
  letter-spacing: 2px;
  border-bottom: 1mm solid black;
 
}
.subHeading{
color:#191526;
border-bottom: 1mm solid black;
}
.burgerName{
  font-family: 'Black Ops One', cursive;
  font-size: 22px;
  letter-spacing: 3px;
}
label{
  font-weight: bold;
  color: #191526;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
  background-color:red !important;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
  border: 2px solid red !important;
}

a.delete-burger{
  color:red!important;
}
.change-if-eaten{
  letter-spacing: 2px;
  font-family: 'Josefin Slab', serif;

}
.buttonHolder{
  align-content: center!important;
}
#inputLine:active{
  border-bottom: black!important;
  box-shadow: none!important;
  border-bottom-color: red;
}
input[type=text]:not(.browser-default){
  border-bottom-color: red;
  box-shadow: none;
}


a.add{
  color:red;
}
.add{
  align-content: center;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  
}

.form-group {
  margin-bottom: 5px;
}

/* .closeBtn{
  padding: 0px;
} */