li {
  padding: 5px;
  margin: 5px;
  background: #d8c4f4;
}
h1{
  font-family: 'UnifrakturMaguntia', cursive;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

.closeBtn{
  padding: 0px;
}